:root {
  --color-pageBackground: #000000;
  --color-pageBackgroundModalActive: #141414;
  --color-pageBackgroundTopLeft: #03080f;
  --color-pageBackgroundBottomRight: #141414;
  --color-pageBackgroundLineTop: #225095;
  --color-pageBackgroundLineMid: #000000;
  --color-pageBackgroundLineBottom: #262626;
  --color-pageText: #FFFFFF;
  --color-pageTextLight: #b3b3b3;
  --color-pageTextSubdued: #8c8c8c;
  --color-pageTextDark: #ffffff;
  --color-pageTextPositive: #597cb0;
  --color-pageTextLink: #225095;
  --color-pageTextLinkLight: #597cb0;
  --color-cardBackground: #1A1A1A;
  --color-cardBorder: #225095;
  --color-cardShadow: #000000;
  --color-tableBackground: #1A1A1A;
  --color-tableRowBackgroundHover: #3c3c3c;
  --color-tableText: #FFFFFF;
  --color-tableTextLight: #FFFFFF;
  --color-tableTextSubdued: #8c8c8c;
  --color-tableTextSelected: #FFFFFF;
  --color-tableTextHover: #b3b3b3;
  --color-tableTextInactive: #8c8c8c;
  --color-tableHeaderText: #b3b3b3;
  --color-tableHeaderBackground: #121212;
  --color-tableBorder: #313131;
  --color-tableBorderSelected: #225095;
  --color-tableBorderHover: #597cb0;
  --color-tableBorderSeparator: #8c8c8c;
  --color-tableRowBackgroundHighlight: #11284b;
  --color-tableRowBackgroundHighlightText: #FFFFFF;
  --color-tableRowHeaderBackground: #121212;
  --color-tableRowHeaderText: #FFFFFF;
  --color-numberPositive: #22a26f;
  --color-numberNegative: #DD0100;
  --color-numberNeutral: #8c8c8c;
  --color-budgetNumberNegative: #DD0100;
  --color-budgetNumberZero: #8c8c8c;
  --color-budgetNumberNeutral: #FFFFFF;
  --color-budgetNumberPositive: #FFFFFF;
  --color-templateNumberFunded: #22a26f;
  --color-templateNumberUnderFunded: #FAC901;
  --color-toBudgetPositive: #22a26f;
  --color-toBudgetZero: #22a26f;
  --color-toBudgetNegative: #DD0100;
  --color-sidebarBackground: #000000;
  --color-sidebarItemBackgroundPending: #fbd434;
  --color-sidebarItemBackgroundPositive: #18714e;
  --color-sidebarItemBackgroundFailed: #DD0100;
  --color-sidebarItemAccentSelected: #597cb0;
  --color-sidebarItemBackgroundHover: #262626;
  --color-sidebarItemText: #FFFFFF;
  --color-sidebarItemTextSelected: #597cb0;
  --color-sidebarBudgetName: #b3b3b3;
  --color-menuBackground: #1A1A1A;
  --color-menuItemBackground: #1A1A1A;
  --color-menuItemBackgroundHover: #3c3c3c;
  --color-menuItemText: #FFFFFF;
  --color-menuItemTextHover: #FFFFFF;
  --color-menuItemTextSelected: #225095;
  --color-menuItemTextHeader: #597cb0;
  --color-menuBorder: #000000;
  --color-menuBorderHover: #225095;
  --color-menuKeybindingText: #597cb0;
  --color-menuAutoCompleteBackground: #000000;
  --color-menuAutoCompleteBackgroundHover: #3c3c3c;
  --color-menuAutoCompleteText: #FFFFFF;
  --color-menuAutoCompleteTextHeader: #597cb0;
  --color-menuAutoCompleteItemText: #FFFFFF;
  --color-menuAutoCompleteTextHover: #59b993;
  --color-menuAutoCompleteItemTextHover: #FFFFFF;
  --color-modalBackground: #1A1A1A;
  --color-modalBorder: #313131;
  --color-mobileHeaderBackground: #183868;
  --color-mobileHeaderText: #FFFFFF;
  --color-mobileHeaderTextSubdued: #8c8c8c;
  --color-mobileHeaderTextHover: rgba(200, 200, 200, 0.15);
  --color-mobilePageBackground: #141414;
  --color-mobileNavBackground: #1A1A1A;
  --color-mobileNavItem: #FFFFFF;
  --color-mobileNavItemSelected: #225095;
  --color-mobileAccountShadow: #000000;
  --color-mobileAccountText: #597cb0;
  --color-mobileTransactionSelected: #225095;
  --color-mobileViewTheme: #183868;
  --color-mobileConfigServerViewTheme: #225095;
  --color-markdownNormal: #11284b;
  --color-markdownDark: #225095;
  --color-markdownLight: #11284b;
  --color-buttonMenuText: #b3b3b3;
  --color-buttonMenuTextHover: #b3b3b3;
  --color-buttonMenuBackground: transparent;
  --color-buttonMenuBackgroundHover: rgba(200, 200, 200, 0.25);
  --color-buttonMenuBorder: #8c8c8c;
  --color-buttonMenuSelectedText: #4b3c00;
  --color-buttonMenuSelectedTextHover: #645000;
  --color-buttonMenuSelectedBackground: #fbd434;
  --color-buttonMenuSelectedBackgroundHover: #FAC901;
  --color-buttonMenuSelectedBorder: #fbd434;
  --color-buttonPrimaryText: #FFFFFF;
  --color-buttonPrimaryTextHover: #FFFFFF;
  --color-buttonPrimaryBackground: #225095;
  --color-buttonPrimaryBackgroundHover: #183868;
  --color-buttonPrimaryBorder: #225095;
  --color-buttonPrimaryShadow: rgba(0, 0, 0, 0.6);
  --color-buttonPrimaryDisabledText: #8c8c8c;
  --color-buttonPrimaryDisabledBackground: #262626;
  --color-buttonPrimaryDisabledBorder: #262626;
  --color-buttonNormalText: #FFFFFF;
  --color-buttonNormalTextHover: #FFFFFF;
  --color-buttonNormalBackground: #1A1A1A;
  --color-buttonNormalBackgroundHover: #3c3c3c;
  --color-buttonNormalBorder: #b3b3b3;
  --color-buttonNormalShadow: rgba(0, 0, 0, 0.4);
  --color-buttonNormalSelectedText: #FFFFFF;
  --color-buttonNormalSelectedBackground: #183868;
  --color-buttonNormalDisabledText: #8c8c8c;
  --color-buttonNormalDisabledBackground: #1A1A1A;
  --color-buttonNormalDisabledBorder: #8c8c8c;
  --color-calendarText: #FFFFFF;
  --color-calendarBackground: #000000;
  --color-calendarItemText: #FFFFFF;
  --color-calendarItemBackground: #1A1A1A;
  --color-calendarSelectedBackground: #183868;
  --color-buttonBareText: #FFFFFF;
  --color-buttonBareTextHover: #FFFFFF;
  --color-buttonBareBackground: transparent;
  --color-buttonBareBackgroundHover: rgba(200, 200, 200, 0.3);
  --color-buttonBareBackgroundActive: rgba(200, 200, 200, 0.5);
  --color-buttonBareDisabledText: #8c8c8c;
  --color-buttonBareDisabledBackground: transparent;
  --color-noticeBackground: #0c3927;
  --color-noticeBackgroundLight: #09291c;
  --color-noticeBackgroundDark: #18714e;
  --color-noticeText: #22a26f;
  --color-noticeTextLight: #18714e;
  --color-noticeTextDark: #59b993;
  --color-noticeTextMenu: #18714e;
  --color-noticeBorder: #0c3927;
  --color-warningBackground: #645000;
  --color-warningText: #FAC901;
  --color-warningTextLight: #967901;
  --color-warningTextDark: #fbd434;
  --color-warningBorder: #967901;
  --color-errorBackground: #580000;
  --color-errorText: #DD0100;
  --color-errorTextDark: #e43433;
  --color-errorTextDarker: #e43433;
  --color-errorTextMenu: #DD0100;
  --color-errorBorder: #850100;
  --color-upcomingBackground: #11284b;
  --color-upcomingText: #597cb0;
  --color-upcomingBorder: #313131;
  --color-formLabelText: #597cb0;
  --color-formLabelBackground: #11284b;
  --color-formInputBackground: #1A1A1A;
  --color-formInputBackgroundSelected: #3c3c3c;
  --color-formInputBackgroundSelection: #225095;
  --color-formInputBorder: #313131;
  --color-formInputTextReadOnlySelection: #1A1A1A;
  --color-formInputBorderSelected: #225095;
  --color-formInputText: #FFFFFF;
  --color-formInputTextSelected: #000000;
  --color-formInputTextPlaceholder: #FFFFFF;
  --color-formInputTextPlaceholderSelected: #b3b3b3;
  --color-formInputTextSelection: #1A1A1A;
  --color-formInputShadowSelected: #597cb0;
  --color-formInputTextHighlight: #225095;
  --color-checkboxText: #FFFFFF;
  --color-checkboxBackgroundSelected: #225095;
  --color-checkboxBorderSelected: #225095;
  --color-checkboxShadowSelected: #183868;
  --color-checkboxToggleBackground: #404040;
  --color-checkboxToggleBackgroundSelected: #225095;
  --color-checkboxToggleDisabled: #262626;
  --color-pillBackground: #1A1A1A;
  --color-pillBackgroundLight: #000000;
  --color-pillText: #b3b3b3;
  --color-pillTextHighlighted: #597cb0;
  --color-pillBorder: #121212;
  --color-pillBorderDark: #121212;
  --color-pillBackgroundSelected: #183868;
  --color-pillTextSelected: #FFFFFF;
  --color-pillBorderSelected: #225095;
  --color-pillTextSubdued: #8c8c8c;
  --color-reportsRed: #DD0100;
  --color-reportsBlue: #225095;
  --color-reportsGreen: #22a26f;
  --color-reportsGray: #8c8c8c;
  --color-reportsLabel: #FFFFFF;
  --color-reportsInnerLabel: #1A1A1A;
  --color-reportsNumberPositive: #22a26f;
  --color-reportsNumberNegative: #DD0100;
  --color-reportsNumberNeutral: #8c8c8c;
  --color-reportsChartFill: #22a26f;
  --color-noteTagBackground: #11284b;
  --color-noteTagBackgroundHover: #225095;
  --color-noteTagDefault: #11284b;
  --color-noteTagText: #597cb0;
  --color-budgetOtherMonth: #000000;
  --color-budgetCurrentMonth: #1A1A1A;
  --color-budgetHeaderOtherMonth: #121212;
  --color-budgetHeaderCurrentMonth: #121212;
  --color-floatingActionBarBackground: #183868;
  --color-floatingActionBarBorder: #183868;
  --color-floatingActionBarText: #FFFFFF;
  --color-tooltipText: #FFFFFF;
  --color-tooltipBackground: #1A1A1A;
  --color-tooltipBorder: #121212;
  --color-calendarCellBackground: #000000;
  --color-overlayBackground: rgba(0, 0, 0, 0.3);
  --color-chartQual1: #225095;
  --color-chartQual2: #DD0100;
  --color-chartQual3: #FAC901;
  --color-chartQual4: #22a26f;
  --color-chartQual5: #597cb0;
  --color-chartQual6: #e43433;
  --color-chartQual7: #fbd434;
  --color-chartQual8: #59b993;
  --color-chartQual9: #80294b;
}